[user]
	name = Alastair Montgomery
	email = alastair.montgomery1@nhs.net
	signingkey = /home/alastair/.ssh/id_ed25519.pub
[alias]
	ff = pull --ff-only
	co = checkout
	fp = fetch -p
[gpg]
	format = ssh
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
