[user]
	email = alastair.montgomery1@nhs.net
	name = Alastair Montgomery
	signingkey = 0E9D135E507EC1FA
[alias]
	ff = pull --ff-only
  co = checkout
  fp = fetch -p

[diff]
	tool = vimdiff
[commit]
	gpgsign = true
