bat 0.23.0
exa 0.10.1
fd 8.1.1
fzf 0.39.0
golang 1.19.2
helm 3.5.2
imagemagick system
jq jq-1.6
kind 0.8.1
kubectl 1.18.3
kustomize 3.6.1
nodejs system
packer 1.6.6
python 3.10.8
ruby 3.0.0
rust 1.64.0
saml2aws 2.26.1
skaffold 1.12.0
starship 0.53.0
task 3.23.0
terraform 1.4.4
terraform-docs v0.14.1
terragrunt 0.23.12
tflint 0.41.0
tfsec 0.45.8
awscli 2.8.13
